.prebook-section {
    height: 500px;
    background-position: center;
    background-size: cover;
    padding: 0 20px;
    /* margin-bottom: 30px; */
  }
  
  .bg-img {
    background-image: url('https://ik.imagekit.io/awwybhhmo/satellite_images/thai/beyondmenu/hero/12.jpg?tr=w-3840,q-50');
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
  }