.chef-card-height{
    height: 780px;
}
.card-img-container{
    padding: 15px;
}

.chef-photo{
    width: 100%;
    height: 350px;
    border-radius: 10px;
}

.card-bg{
    background-color: #404944;
}

.chef-name{
    color: #dae8e2a2;
}

.chef-bio{
    color: #dae8e2a2;
}

.recipe-number{
    color: #b191b3a2;
}

.chef-experience{
    color: #39f581a2;
}

@media only screen and (max-width: 767px) {
    .chef-card-height{
        height: 680px;
        margin-left: 10px 5px 10px 5px;
    }

    .padding-for-phone{
        padding: 5px !important;
    }

    .chef-photo{
        width: 100%;
        height: 250px;
        border-radius: 10px;
    }
  }

